/* Pembungkus agar kartu berjejer ke samping */
.quiz-grid {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card-kuis {
  background: white;
  flex: 1;
  max-width: 32%;
  padding: 20px;

  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  border-top: 5px solid #4e44e7;
  text-align: left;
}

.card-kuis h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.card-kuis p {
  font-size: 0.9rem;
  color: #718096;
}

.btn-mulai {
  background-color: #4e44e7;
  color: white;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}
